

<div class="container">
  <div class="row">

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

<h1>welcom to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>

<h4>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,</h4>
<p>you can share and exchange your opinions , inpressions , and emotions about varioius books!</p>


<p><%= link_to 'Log in', user_session_path, class: "btn btn-info btn-block" %></p>
<p><%= link_to "/users/sign_up" do%><div class="btn btn-success btn-block">sign up</div><% end %></p>

  </div>
</div>




